<IfModule mod_rewrite.c>
    RewriteEngine On

    # map all paths that don't exist as actual 
    # files on the filesystem to the Haplo Framework
    # if you wanted to you could modify these rewrite 
    # rules to map different sets of URLs to different 
    # files - for example index.php and admin.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>